@media(min-width: 650px){

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav{
        overflow: visible;
    }

    header nav a{
        font-size: 1rem;
        padding: 1rem
    }

    header img{
        height: 4rem;
        width: 4rem;
    }

    p{
        font-size: 1rem;
        padding-bottom: 2rem;
    }

    h2{
        font-size: 3rem;
        padding-bottom: 2rem;
        width: 100%;
    }

    h3{
        font-size: 2rem;
    }

    .introducao {
        display: flex;
        overflow: scroll;
    }

    .introducao img {
        padding-inline: 5rem;
        width: 100vh;
        margin-left: 23rem;
    }

    .introducao img:nth-of-type(4){
        margin-right: 18rem;
    }

    .historia{
        padding-top: 0.5rem;
    }

    .historia p{
        width: 100%;
        flex-direction: column;
    }

    .historia img{
        width: 86vh;
        margin-bottom: 1rem;
    }

    .cultura{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 80vh;
    }

    .cultura p {
        width: 100%;
        text-align: left;
    }

    .cultura h2{
        text-align: left;
    }

    .cultura img{
        width: 40vh;
        margin-block: 10vh;
        margin-left: -50vh;
    }

    .info_gerais{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info_gerais img{
        width: 60vh;
        margin-inline: 32.5%;
        margin-block: 5rem;
    }

    .politica{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .politica p{
        width: 100%;
    }

    .politica img{        
        width: 60vh;
        margin-inline: 32.5%;
        margin-block: 5rem;
    }

    .pontos_turisticos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pontos_turisticos img{
        width: 70vh;
        margin-bottom: 5rem;
    }

    .heddal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mirante{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .borgund{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .criadores{
        display: flex;
        gap: 2rem;
        overflow: hidden;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .criadores img{
        width: 30vh;
        height: 50vh;
        margin-block: 7rem;
    }

    .criadores h3{
        margin-top: -3rem;
    }

    
}
